@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Space Grotesk', sans-serif;
}

:root{
--button-color:hsl(278, 68%, 11%);
--button-text-color:#fff;
--error-text:hsl(0, 100%, 66%);
--input-hover:hsl(249, 99%, 64%);
--confirm-text:#8F8694;
--details-text:10px;
--default-color:#fff;
--input-border:1px solid #f2f2f2;
}  
    



/* MOBILE DESIGN */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* card */
    .container{

    }
.card{
    height: 235px;
    background-image: url(./images/bg-main-mobile.png);
}
.card img{
    width: 250px;
}
.card .front_card {
    position: absolute;
    margin: 130px 150px auto 20px;
    box-shadow:  rgba(0, 0, 0, 0.142481) 0px 39px 60px;
}
.span{
    font-size: var(--details-text);
    display: flex;
    padding-left: 190px;
    position: absolute;
   bottom: 20px;
    
}
.cvc_input{
    width: 30px;
    position: absolute;
    top: 110px;
    left: 245px;
    text-align: center;
    color: var(--default-color);
    font-size: var(--details-text);
}
.default_details{
    position: absolute;
    top: 65px;
    color: var(--default-color);
    padding: 15px;
}

.default_details p{
    line-height: 2;
}
#card_name_new{
    font-size: var(--details-text);
   
}
.circle{
    position: absolute;
    top: 10px;
    
}
.card .back_card{
    margin: 0 0 auto 50px;
    padding-top: 50px;
}
/* card-one */
.input_cover{
    width: 300px;
    padding: 75px 0;
    margin: auto;
  
}
.input_cover label{
    padding-top: 25px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: var(--input-border);
    width: 300px; 
    cursor: pointer;
}

.input:hover{
    color: var(--input-hover);
   
}
label{
    font-size: 12px;
}
small{
    line-height: 2;
    color: var(--error-text);
    visibility: hidden;
}
#num_error{
    color: var(--error-text);
    visibility: hidden;
} 
.card_one_details1 input{
    width: 95px;
}

.card_one_details1 div label{
display: block;
}

.card_one_details1  .expiry,.expiry_year,
.cvc{
    display: inline-block;
}
/* confirmed */
.confirm_input{
    border: 1px solid black;
    width: 300px;
    text-align: center;
    margin: auto;
    visibility: hidden;
}
.confirm_input p{
   color: var(--confirm-text);
   line-height: 3;
}
button{
    background-color: var(--button-color) !important;
    padding: 10px 80px;
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    width: 300px; 
}

}

